name: Despliegue a Surge
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Instalar Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Instalar Surge
        run: npm install --global surge
      - name: Desplegar
        run: surge ./ https://primerparcialelec2.surge.sh --token ${{ secrets.SURGE_TOKEN }}